<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>photo</key>
		<string>IMG_3754.JPG</string>
		<key>date</key>
		<string>May 05</string>
		<key>post</key>
		<string>Even on the most remote beach of Gili Air Island they accept Bitcoin - ain&apos;t that just amazing? LOL</string>
	</dict>
	<dict>
		<key>photo</key>
		<string>IMG_3740.JPG</string>
		<key>date</key>
		<string>May 07</string>
		<key>post</key>
		<string>Donkey Taxis! Did some walking on Main street and found where the taxi stand was</string>
	</dict>
	<dict>
		<key>photo</key>
		<string>IMG_3932.jpg</string>
		<key>date</key>
		<string>May 08</string>
		<key>post</key>
		<string>Today in Monkey Forest in Ubud. We skipped the chakra healings at the hotel since Julia Roberts isn&apos;t joining</string>
	</dict>
	<dict>
		<key>photo</key>
		<string>IMG_3873.jpg</string>
		<key>date</key>
		<string>May 11</string>
		<key>post</key>
		<string>Not sure what is it. I like it though :)</string>
	</dict>
	<dict>
		<key>photo</key>
		<string>IMG_4001.JPG</string>
		<key>date</key>
		<string>May 20</string>
		<key>post</key>
		<string>Thanks cocoanut for making my head not look gigantic with the helm #nomnomnom</string>
	</dict>
</array>
</plist>
